<html>

<head>
    <title>Frame</title>
    <style>
        ul {
            list-style: none;
        }
    </style>
</head>

<body>
    <ul id="messages"></ul>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        $(function (params) {
            var socket = null;
            var messages = $("#messages")
            if (!window["WebSocket"]) {
                alert("Error: Your browser does not support web sockets")
            } else {
                socket = new WebSocket("ws://localhost:8080/socket");
                socket.onclose = () => alert("Connection has been closed")
                socket.onopen = () => console.log("opened websocket connection");
                socket.onmessage = (e) => {
                    var reader = new FileReader();
                    reader.addEventListener("loadend", () => {
                        console.log(reader.result)
                        var img = document.createElement("IMG")
                        // TODO: support more filetypes
                        img.src = "data:image/png;base64," + reader.result;
                        messages.append(img)
                    });
                    reader.readAsText(e.data);
                }
            }
        });
    </script>
</body>

</html>